# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
/data-and-readme.zip
data-and-readme

# Python
__pycache__/
*.py[cod]
.venv/

# Go
backend/deimos.exe
backend/deimos

# Local configuration and logs
.env
*.log
